.view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    width: 20%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
