<div class="view">
    <form [formGroup]="studentForm">
        <mat-form-field appearance="fill">
            <mat-label>Nome completo</mat-label>
            <input matInput formControlName="fullName" name="fullName" placeholder="">
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <input matInput formControlName="sex" name="sex" placeholder="">
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="pickBirthDate" formControlName="birthDate" name="birthDate" disabled>
            <mat-datepicker-toggle matSuffix [for]="pickBirthDate"></mat-datepicker-toggle>
            <mat-datepicker #pickBirthDate  disabled="false"></mat-datepicker>
            <mat-hint>Clique no ícone para definir uma data</mat-hint>
        </mat-form-field>

<!--        <mat-form-field appearance="fill">-->
<!--            <mat-label>Ano</mat-label>-->
<!--            <input matInput formControlName="year" name="year" placeholder="">-->
<!--            <mat-hint></mat-hint>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="fill">-->
<!--            <mat-label>Turma</mat-label>-->
<!--            <input matInput formControlName="className" name="className" placeholder="">-->
<!--            <mat-hint></mat-hint>-->
<!--        </mat-form-field>-->
    </form>
    <br/>
    <button mat-raised-button color="primary" (click)="createStudent()">Adicionar</button>
    <button mat-raised-button routerLink="/">Voltar</button>
</div>
