.view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.card {
    margin: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card-title {
    font-size: 1em;
}

a {
    text-decoration: none;
}

.icon {
    font-size: 40pt;
    width: 100px;
    text-align: center;
}
