<div class="view">

    <a routerLink="/student/list">
        <mat-card class="card">
            <mat-card-title>Alunos</mat-card-title>
            <mat-card-content>
                <mat-icon class="icon">people</mat-icon>
            </mat-card-content>
        </mat-card>
    </a>

    <a routerLink="">
        <mat-card class="card">
            <mat-card-title>Professores</mat-card-title>
            <mat-card-content>
                <mat-icon class="icon">school</mat-icon>
            </mat-card-content>
        </mat-card>
    </a>

    <a routerLink="/question/list">
        <mat-card class="card">
            <mat-card-title>Questões</mat-card-title>
            <mat-card-content>
                <mat-icon class="icon">list_alt</mat-icon>
            </mat-card-content>
        </mat-card>
    </a>

    <a routerLink="">
        <mat-card class="card">
            <mat-card-title>Exercícios</mat-card-title>
            <mat-card-content>
                <mat-icon class="icon">subject</mat-icon>
            </mat-card-content>
        </mat-card>
    </a>

    <a routerLink="">
        <mat-card class="card">
            <mat-card-title>Resultados</mat-card-title>
            <mat-card-content>
                <mat-icon class="icon">grading</mat-icon>
            </mat-card-content>
        </mat-card>
    </a>

</div>
